.container {
    text-align: center;
    padding: 20px;
    position: relative;
}

.resim {
    width: 50%;
    height: auto;
    max-width: 100%;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center; /* Butonları ortalar */
    gap: 20px; /* Butonlar arasına mesafe ekler */
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

button#yesBtn {
    background-color: green;
    color: white;
}

button#noBtn {
    background-color: red;
    color: white;
}
