.container {
    text-align: center;
    padding: 20px;
    position: relative;
}

.resim {
    width: 50%;
    height: auto;
    max-width: 100%;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
}

button#yesBtn {
    background-color: green;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#noBtn {
    background-color: red;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
